<!-- templates/layout.html -->
{% from '_macros.html' import show_job, show_jobs with context %}
<!doctype html>
<html>
  <head
    {% block head %}
    <link href="{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <title>{% block title %} Job Board {% endblock %} </title>
    {% endblock %}
  </head>
  <body>
    <div class="container top">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
